---
const {
    meta: { title, desc, ArticleDate },
} = Astro.props;

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer";
import Header from "../components/Header";

import { siteConfig } from "../site.config";

import "../styles/global.css";
---

<html lang={siteConfig.lang}>
    <head>
        <BaseHead siteTitle={title} siteDesc={desc} ArticleDate={ArticleDate} />
    </head>
    <body>
        <Header
            props={siteConfig.header_links}
        />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
